[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
rope = "*"
pytest = "*"

[packages]
keras = "*"
tensorflow = "*"
recmetrics = "*"
flask = "*"
spotipy = "*"
pylast = {git = "https://github.com/LeonelF/pylast.git"}
pymongo = "*"

[requires]
python_version = "3.7"

[scripts]
start = "flask run"
test = "watch --color python -m pytest tests/unit --color=yes"
mongo = "docker run --name mongomgr --rm -it -v mongomgr:/data/db/ -p 27017:27017 mongo:4"
mongocli = "docker exec -ti mongomgr mongo mgr"
mongo_export = "mongoexport --uri=\"mongodb://localhost:27017/mgr\" --collection playedtracks --out tracks.json"
