[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
rope = "*"
pytest = "*"

[packages]
pylast = "*"
keras = "*"
tensorflow = "*"
recmetrics = "*"
flask = "*"
spotipy = "*"

[requires]
python_version = "3.7"

[scripts]
start = "flask run"
test = "watch --color python -m pytest tests/unit --color=yes"
